body, html {
    background: rgb(0, 0, 0); /* 纯黑色背景 */
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
}

body::before, body::after {
    content: ''; /* 确保设置了content属性 */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; /* 确保z-index值能够使伪元素显示 */
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(circle at center, 
        rgb(25, 25, 112) 0%,   /* 深蓝色，开始 */
        rgb(138, 43, 226) 25%, /* 亮紫色，渐变 */
        rgb(152, 233, 255) 50%,  /* 亮蓝色，中间 */
        rgb(252, 118, 61) 75%,  /* 深橙色，渐变 */
        black 100%);           /* 黑色背景，结束 */
    z-index: 2;
}

body::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, 
        rgba(255, 60, 0, 0.8), /* 红橙色 */
        rgba(205, 39, 199, 0.8), /* 淡紫色 */
        rgba(75, 0, 130, 0.8), /* 靛蓝色 */
        rgba(0, 0, 128, 0.8)); /* 深蓝色 */
    z-index: 3; /* 确保z-index值正确 */
}



#threeCanvas, #starCanvas, #eventHandler {
    /* 其他元素的样式保持不变 */
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 9; /* 或者根据需要调整z-index */
}


#threeCanvas {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 10;
}

#starCanvas {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 5; /* 确保星星背景在最上层 */
}
 
#eventHandler {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10; /* 确保它位于最上层 */
    pointer-events: auto; /* 允许接收鼠标事件 */
} 

#infoWindow {
    /* 原始样式保持不变 */
    position: fixed;
    display: none;
    background: rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    padding: 15px 25px 15px 15px;
    color: white;
    z-index: 11;
    max-width: 40vw;
    max-height: 50vh;
    overflow: auto;
    box-sizing: border-box;
}

/* 电脑端全屏 */
@media screen and (min-width: 1024px) {
    #infoWindow {
        max-width: 40vw; /* 或者你希望的宽度 */
        max-height: 50vh; /* 或者你希望的高度 */
    }
}

/* 电脑端半屏 */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    #infoWindow {
        max-width: 60vw; /* 调整宽度为视口宽度的 60% */
        max-height: 60vh; /* 调整高度为视口高度的 60% */
    }
}

/* 手机端横屏 */
@media screen and (max-width: 767px) and (orientation: landscape) {
    #infoWindow {
        max-width: 70vw; /* 在较窄的屏幕上增加宽度 */
        max-height: 60vh; /* 适当增加高度 */
    }
}

/* 手机端竖屏 */
@media screen and (max-width: 767px) and (orientation: portrait) {
    #infoWindow {
        max-width: 90vw; /* 在竖屏模式下，使用更大的宽度 */
        max-height: 80vh; /* 使用更大的高度 */
    }
}


#closeButton {
    position: absolute;
    top: 3px; /* 距离窗口顶部的距离 */
    right: 3px; /* 距离窗口右边的距离 */
    border-radius: 2px;
    cursor: pointer;
    border: 1px solid white; /* 添加一个方形边框 */
    padding: 1px 5px; /* 增加内边距，根据需要调整 */
    background-color: transparent; /* 透明背景 */
    color: white; /* X的颜色 */
    font-size: 14px; /* 字体大小 */
    user-select: none; /* 防止文本被选中 */
}

#closeButton:hover, #closeButton:active {
    background-color: rgba(255, 255, 255, 0.3); /* 鼠标悬浮或点击时的背景色 */
}

#customCursor {
    width: 20px;
    height: 20px;
    border: 2px solid blue;
    border-radius: 50%;
    position: absolute;
    pointer-events: none; /* 防止光标影响其他交互 */
    z-index: 100; /* 确保在顶层 */
    opacity: 0; /* 初始隐藏 */
    transition: opacity 0.2s, transform 0.2s; /* 平滑过渡效果 */
}




